@charset "UTF-8";
/* transform_basic */

#contentBox {width: 800px; width: 50rem; height:auto; min-height: 500px; min-height: 31.25rem;}

.box {width: 100%; height: auto; min-height: 100%; padding:16px; 
      padding:1rem; box-sizing:border-box; background-color: #fd5;
      border-bottom:2px solid #333; border-bottom:0.125rem solid #333;}

.box>ul {width: 100%; height: auto;}
.box>ul:after {content:" "; display:block; width:0; height:0; clear:both;}
.box>ul>li {float:left; margin:2rem; width: 300px; width: 18.75rem; height: 300px; height: 18.75rem; 
            background-color: #07f; border-radius:1rem; color:#fff; font-weight:bold;}


/* translate : 위치이동 ============================================================================== */
.translate li {transition:all 800ms ease;}
.translate:hover li {transition:all 800ms ease;}

.translate:hover li:nth-child(1){transform:translate(400px, -200px); background-color: #aca;}
.translate:hover li:nth-child(2){transform:translateX(400px); background-color: #aff;}
.translate:hover li:nth-child(3){transform:translateY(-100px); background-color: #f0f;}
.translate:hover li:nth-child(4){transform:perspective(500px) translate3D(0, -200px, -100px); background-color: #705;}

/* scale : 크기조절 ============================================================================== */
.scale li {transition:all 500ms linear;}
/* linear       : 지속적인-동일한 속도
   ease         : 자연스러움 (빨라지다 느리게)
   ease-in      : 점점빠르게
   ease-out     : 점점느리게
   ease-in-out  : 빨라지다 느리게
*/

.scale:hover li:nth-child(1){transform:scale(1.3, 1.5); background-color: #aca;}
.scale:hover li:nth-child(2){transform:scaleX(0.5); background-color: #1ca;}
.scale:hover li:nth-child(3){transform:scaleY(0.5); background-color: #70f;}
.scale:hover li:nth-child(4){transform:scale3D(3,2,2); background-color: #f0f;}

/* rotate : 각도조절 ============================================================================== */
.rotate li{transition:all 700ms linear; background-color: #ac6;}

.rotate:hover li:nth-child(1){transform:rotate(180deg);}
.rotate:hover li:nth-child(2){transform:perspective(600px) rotateX(45deg);} /*perspective 효과*/
.rotate:hover li:nth-child(3){transform:perspective(500px) rotateY(45deg);} /*perspective 효과*/
.rotate:hover li:nth-child(4){transform:rotate3D(1,2,2,45deg);}

/* skew : 각도조절 ============================================================================== */
.skew li {transition:all 700ms linear;}

.skew:hover li:nth-child(1){transform:skew(45deg);}
.skew:hover li:nth-child(2){transform:skewX(-45deg);}
.skew:hover li:nth-child(3){transform:skewY(-45deg);}
.skew:hover li:nth-child(4){transform:skewX(-45deg); background-color: #a66; text-align:center;}
.skew:hover li:nth-child(4)>span{transform:skewX(45deg); display:block;}

/* origin : 변형 ============================================================================== */
.origin{background-color: #dfd;}
.origin li {transition:all 500ms ease;}

.origin li:nth-child(1){transform-origin:0 0;}
.origin li:nth-child(1):hover{transform:rotate(45deg) skew(45deg);}
.origin li:nth-child(2):hover{transform:rotate(45deg) translate(500px, 400px);}

/* perspective 입체효과 ============================================================================== */
.perspective {margin-bottom:100rem;}
.perspective > ul > li{width: 100px; height: 170px; background-color: #0ac;}

.perspective > ul {perspective:200px;}
.perspective > ul > li:nth-child(1){transform:rotateY(60deg);}
.perspective > ul > li:nth-child(2){transform:rotateY(30deg);}
.perspective > ul > li:nth-child(3){transform:rotateY(-30deg);}
.perspective > ul > li:nth-child(4){transform:rotateY(-60deg);}


/* test */
.transform li{transition:all 500ms linear; background-color: rgb(223, 87, 24);}
.transform {perspective:800px;}


.transform:hover li:nth-child(1){transform:rotate(45deg);}

.transform:hover li:nth-child(2){transform:translateY(-100px);}

.transform:hover li:nth-child(3){transform:scale3D(0.8,0.8,1); background-color: #afa;}

.transform:hover li:nth-child(4){transform:scale3D(1.2,1.2,1); background-color: #afa;}

.transform:hover li:nth-child(5){box-shadow:0.5rem 0.5rem 1rem #333;}

.transform:hover li:nth-child(6){background-color: rgb(226, 22, 22);}

.transform:hover li:nth-child(7){transform:rotateX(40deg);}

.transform:hover li:nth-child(8){transform:rotateY(40deg);}

.transform:hover li:nth-child(9){transform:rotate(360deg);}

.transform:hover li:nth-child(10){transform:;}

.transform:hover li:nth-child(11){transform:;}

.transform:hover li:nth-child(12){width:500px; background-color: rgb(21, 42, 231);}



