@charset "UTF-8";
/* 변수 */
html, body {
  color: #333; }

h1 {
  color: #333; }

#headBox h1 a {
  color: #333; }

#headBox h1 a:hover {
  color: gray; }

#headBox h1 a:active {
  color: black; }

#headBox h1 a {
  color: #333; }
  #headBox h1 a:hover {
    color: gray; }
  #headBox h1 a:active {
    color: black; }
  #headBox h1 a:focus {
    color: #333; }

.product_list {
  width: 100%; }
  .product_list > ul {
    width: 90%; }
  .product_list > li {
    width: 100%; }
  .product_list:nth-child(1) {
    background-color: #fff; }
  .product_list:nth-child(1):after, .product_list:nth-child(1)::after {
    content: "1234"; }
  .product_list > a {
    display: block;
    width: 100%; }
  .product_list:hover {
    color: rgba(51, 51, 51, 0.5); }
  .product_list:active {
    color: #333; }
  .product_list:focus {
    color: #333; }
  .product_list > span {
    display: block;
    width: 0; }
