// indicator_test_02_result.scss
/* indicator_test_02_result.css */
@import "./_basic/var";
@import "./_basic/mixin";
@import "./_basic/etc";

// ================================================
#miniproduct {position: relative; width: 500px; height: 400px; margin:10rem auto; background-color:$sample;
  .btn {width: 150px; height: 70px; position: absolute; bottom:0; right:1rem;
  >button {float:left; width: 70px; height: 70px; font-size:2rem; background-color:transparent; color:$blueGreen;
    &.next {float:right;}
    >span {@include hidden;}
    }
    >button.action{color:$primary;}
  } // .btn
  .product{width: 100%; height: 300px; background-color:$gray;}
  

}