// mixin.scss

@mixin hiddenText() {
  display: block; width: 0; height: 0; position: absolute; z-index:-1; overflow: hidden;
}

@mixin link($w:100%,$h:90px) {
  display: block; width:$w; height:$h;
  @content;
  &>span {@include hiddenText;}
}

@mixin indicator_type_01 ($select,$myW) {
  #{$select} {$w:$myW; $f:100%;
  }
}
