@charset "UTF-8";
/* base_code_layout_02_resulte.css */

/* reset =============================== */
html,body
hr {margin:0; padding:0; border:0; behavior: url(../ie/PIE/PIE.htc);}
hr {border-top:1px solid #333;}

header,main,footer,section,content,{display:block;}

/* design =============================== */
body {background-color:#fff;}
h1{color:#333; text-align:center;}
h1>a{color:inherit;}
hr{border-color:#fff;}

#box {margin:100px auto; width:960px; height:1200px;
background-color: #3cf;}

#headBox {width:100%; height:120px; background-color:#f0a;}

#mainBox {width:100%; height:950px;}
#mainBox:after,
#mainBox:after {content:""; display block; width:0; height:0; clear:both;}

.contentBox {width:100%; height:500px; background-color:#2ae;}

 .viewBox
{width:100%; height:450px; background-color:#f80; float:left;}

#footBox {width:100%;height:130px; background-color: #777;}