@charset "UTF-8";

.Clear_step_01
  {margin:0 auto;
  margin-bottom:50px;
  width:100%; max-width:600px;
  height:400px; background-color:#ccc;
  border-bottom:2px solid #333;}

.step_01_insert{float:left; width:120px;
height:120px; background-color: #fa0;}
.step_01_insert:nth-of-type(2n){background-color: #acf;}

/* ========================================= */
.Clear_step_02 {
  margin:0 auto;
  margin-bottom: 100px;
  margin-top: 150px;
  width:600px; height:400px;
  background-color: #ccf;
  border-bottom:2px solid #333333;
}

.step_02_insert
  {float:left; widows: 110px; height:120px;
  background-color: #afc;}
.step_02_insert:nth-of-type(2n){
  background-color: #85f;}
.last{clear:both;}


.Clear_step_03{
  width: 400px; height: 500px;
  background-color: #fac;
  margin-bottom: 500px;
}
