@charset "UTF-8";
/* rwd_test_01_result.css */
/** 반응형웹 기준
  * pc:769px ~ 960px
  * tablet:481px ~ 768px
  * mobile: ~ 480px
**/

#wrap {width: 100%; max-height:60rem; height:auto; background-color: #df4;}
#headBox {width: 100%; height: 9.375rem;background-color: #c3f;}
h1 {width: 100px; height: 9.375rem; background-color: #8f8; transition:all 200ms ease;}


#contentBox {width: 100%; height:auto;}
  #viewBox {width: 100%; height: 450px; background-color: #fdd;}
  #listBox {width: 100%; height: 600px; background-color: #765;}
  #infoBox {display:none; width: 100%; height: 300px; background-color: #351;}

#footBox {width: 100%; height: 6.25rem;background-color: #af1;}
  #footBox > h2 {width: 6.25rem; height: 100%; background-color: #03f;
      transition:all 200ms ease;}

/* ===================================================================== */

@media screen and (min-width:481px) and (max-width:768px) {
  #contentBox {height: 62.5rem;}
    #viewBox {height: 18.75rem;}
    #listBox {height: 25rem;}
    #infoBox {display:block;}
}

/* ===================================================================== */

@media screen and (max-width:480px) {
  #headBox {height: 6.25rem;}
  h1 {width: 100%; height: 100%;}
  
  #contentBox {height: 1100px;}
    #viewBox {height: 25rem;}
    #listBox {height: 25rem;}
    #footBox > h2 {width: 50%; min-width:9.375rem; margin:auto;}
}