// db_01.scss

#headBox {position: relative; width: 100%; height: 90px; min-width:1920px;
  background-color:rgba(15,76,247,0.6);}

  h1 {position: absolute; width: 324px; height: 45px; left:40px; top:25px; z-index: 1; margin:0; padding:0;
      background-image: url(../../img/db/main_logo.png);
      background-position:0 0;
      background-repeat: no-repeat;
      background-size: cover;}

.side_menu {width: 40%; height: 90px; margin:auto;}
  .side_menu>li {float:left; width: 33.3%; height: 90px; 
                 text-align: center; line-height: 90px;}
  .side_menu a {color:#fff;}
    
.category {position: absolute; width: 20%; height: 90px; 
           top:0px; right:40px; z-index: 1;}
  .category>li {float:left; width: 25%; height: 90px; 
                text-align: center; line-height:90px;}
    
  .category a {display: block; width: 100%; height: 90px; color:#fff;}

  .category i {font-size:1.5rem; text-align: center; line-height: 90px;}


    // .view_btn 좌우버튼
