@charset "UTF-8";
/* indicator_test_02_result.css */
/* 
@include horizontal_slide_banner('.my_banner',4){
  $url:'../img/mybanner/';
  $imgName:'mybanner_';
  $count : 4;
  @include  horizon_banner_img($count, $imgName, $url:$url, $file:'png');
  // 기타 div 및 하위  내용을 삽입
} 
*/
/* @mixin myname(){}   // @include myname(); @function myFn(){}  // myFn(); */
#miniproduct { position: relative; width: 500px; height: 400px; margin: 10rem auto; background-color: #fa0; }

#miniproduct .btn { width: 150px; height: 70px; position: absolute; bottom: 0; right: 1rem; }

#miniproduct .btn > button { float: left; width: 70px; height: 70px; font-size: 2rem; background-color: transparent; color: #0c9; }

#miniproduct .btn > button.next { float: right; }

#miniproduct .btn > button > span { display: block; position: absolute; z-index: -10; width: 0; height: 0; overflow: hidden; }

#miniproduct .btn > button.action { color: #f06; }

#miniproduct .product { width: 100%; height: 300px; background-color: #ccc; }
